[mariadb]

# From https://mariadb.com/kb/en/file-key-management-encryption-plugin/#creating-the-key-file
# openssl rand -hex 128 > password_file.key
# for key in $(seq 4) ; do echo -n $key\; ; openssl rand -hex 32 ; done \
# | openssl enc -aes-256-cbc -md sha1 \
#   -pass file:password_file.key \
#   -out keys.enc

plugin_load_add = file_key_management
file_key_management_filename = /etc/encryption/keys.enc
file_key_management_filekey = FILE:/etc/encryption/password_file.key
file_key_management_encryption_algorithm = AES_CBC
 
innodb_encrypt_tables = ON
innodb_encrypt_log = ON
innodb_encryption_threads = 4
innodb_encryption_rotate_key_age = 0 # Do not rotate key

# Aria Encryption Setup
aria_encrypt_tables = ON

# Temp & Log Encryption
encrypt-tmp-disk-tables = 1
encrypt-tmp-files = 1
encrypt_binlog = ON
